@import '../../../styles/app';
@import '~react-datepicker/src/stylesheets/datepicker-cssmodules.scss';

.root {
  // some styles
  td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
